
.icon-align-justify:before { content: '\e800'; } /* '' */
.icon-left-circled:before { content: '\f0a8'; } /* '' */
.icon-right-circled:before { content: '\f0a9'; } /* '' */
.icon-hashtag:before { content: '\f292'; } /* '' */