
.icon-down:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-menu:before { content: '\e802'; } /* '' */
.icon-up-big:before { content: '\e803'; } /* '' */
.icon-right-open:before { content: '\e804'; } /* '' */